.snowContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 10;
}
#snow{
	width: 100%;
	height: 100%;
	background-image: url("../img/snow_1.png"), url("../img/snow_2.png"), url("../img/snow_3.png");
	animation: snow 20s linear infinite;
}
@keyframes snow{
	0% {
		background-position: 0px 0px, 0px 0px, 0px 0px;
	}
	100%{
		background-position: 500px 1000px, 400px 400px, 300px 300px;
	}
}